<template>
  <div class="home">
    <kanji-viewer></kanji-viewer>
  </div>
</template>

<script>
// @ is an alias to /src
import KanjiViewer from "@/components/KanjiViewer.vue";

export default {
  name: "home",
  components: {
    KanjiViewer
  }
};
</script>

<style lang="scss">
.home {
  height: 100%;
}
</style>
