<template>
<div class="viewer" :style="{backgroundColor: currentBackgroundColor}">
  <div class="wrapper">
    <div class="back" @click="getLastData">
      <font-awesome-icon icon="chevron-left" />
    </div>
    <div class="kanji" @click="showDetails = true">
      <transition name="boring-fade" mode="out-in">
        <div class="character" :key="currentKanji.kanji">
          {{currentKanji.kanji}}
        </div>
      </transition>

    </div>
    <div class="forward" @click="updateData">
      <font-awesome-icon icon="chevron-right" />
    </div>
  </div>
  <transition name="boring-fade">
    <div class="details" v-if="showDetails" :key="currentKanji.kanji">
      <div class="meaning">
        {{currentKanji.meaning}}
      </div>
      <div class="seq">
        {{currentKanji.KLC_SequenceNum}}
      </div>
      <div class="more-info">
        <a :href="infoAddress" target="_blank" :style="{ color: currentBackgroundColor }">More Info</a>
      </div>
    </div>
  </transition>

</div>
</template>

<script>
import KanjiData from "@/KanjiData.json";
export default {
  name: "KanjiViewer",
  props: {
    msg: String
  },
  data() {
    return {
      kanjiList: KanjiData.filter(kanji => kanji.KLC_SequenceNum),
      currentKanji: {},
      previousKanji: [],
      previousBackgroundColors: [],
      currentBackgroundColor: "",
      showDetails: false
    };
  },
  computed: {
    infoAddress() {
      return (
        "https://jisho.org/search/" + this.currentKanji.kanji + "%20%23kanji"
      );
    }
  },
  methods: {
    getNewKanji() {
      this.previousKanji.push(this.currentKanji);
      var randomNum = Math.floor(Math.random() * this.kanjiList.length + 1);
      this.showDetails = false;
      this.currentKanji = this.kanjiList[randomNum];
    },
    getNewBackground() {
      this.previousBackgroundColors.push(this.currentBackgroundColor);
      var randomNum = Math.floor(Math.random() * 360 + 1);
      this.currentBackgroundColor = `hsl(${randomNum}, 73.7%, 70.2%)`;
    },
    updateData() {
      this.getNewBackground();
      this.getNewKanji();
    },
    getLastData() {
      if (this.previousKanji.length > 1) {
        this.showDetails = false;
        console.log(this.previousKanji);
        this.currentKanji = this.previousKanji.pop();
        this.currentBackgroundColor = this.previousBackgroundColors.pop();
      }
    },
    keyShortcut(key) {
      switch (key.code) {
        case "Space":
          this.showDetails = true;
          break;
        case "ArrowLeft":
          this.getLastData();
          break;
        case "ArrowRight":
          this.updateData();
          break;
        default:
          break;
      }
    }
  },

  mounted() {
    this.getNewKanji();
    this.getNewBackground();
  },
  created() {
    window.addEventListener("keyup", this.keyShortcut);
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.viewer {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kanji {
  .character {
    font-size: 40em;
    user-select: none;
    transform: scale(1);
    transition: all 300ms;
  }

  .character:hover {
    transform: scale(1.05);
    transition: all 500ms;
  }
}

.details {
  margin-top: -2em;
  user-select: none;

  .meaning {
    font-size: 5em;
  }

  .seq {
    font-size: 2em;
  }

  .more-info {
    width: fit-content;
    margin: 4em auto;
    transform: scale(1);
    transition: transform 200ms;

    a {
      text-decoration: none;
      color: lightcoral;
      padding: 0.5em 1em;
      font-size: 2em;
      border-radius: 0.5em;
      background-color: #2c3e50;
    }
  }

  .more-info:hover {
    transform: scale(1.05);
    transition: transform 300ms;
  }
}

.back,
.forward {
  padding: 0.5em;
  height: 100%;
  font-size: 10em;
  transform: scale(1);
  transition: all 200ms;
}

.back:hover,
.forward:hover {
  transform: scale(1.1);
  transition: all 300ms;
}

.boring-fade-enter-active {
  transition: all 0.5s ease;
}

.boring-fade-leave-active {
  transition: all 0.5s ease;
}

.boring-fade-enter,
.boring-fade-leave-to {
  opacity: 0;
}
</style>
